/* COGS3 studyBuddy specific styles go here. */
/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Title Section */
  #title {
    background-color: #8fdbf2;
    padding: 50px 0;
  }
  
  .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  #title .container {
    padding-top: 20px;
  }
  
  .title-image {
    width: 100%;
    transform: rotate(15deg);
  }
  
  .download-button {
    margin: 5% 
  }  
